
.header{
 	background: #b3d4fc;
}

#warning{
	color:red
}

ul,li{
	border: 0px;
    margin: 0px;
    padding: 0px;
}

#reservationList ul{
	margin-left:10px;
	text-align:left;
	margin-top:3px;
}

#reservationList ul li{
	margin-left:5px;
}
.footer{
	text-align:center;
	margin-top:15px;
	background:#F7F7F7;
}
.footer p{
	padding-top:5px;
}